{# src/JJ/WeddingBundle/Resources/views/Form/fields.html.twig #}
{#
{% block gender_widget %}
    {% spaceless %}
        {% if expanded %}
            <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock gender_widget %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio">
        <input type="radio" {{ block('widget_attributes') }} {% if value is defined %}value="{{ value }}"{% endif %} {% if checked %}checked="checked"{% endif %} />
    </div>
{% endspaceless %}
{% endblock radio_widget %}
#}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if icon is defined %}<span class="{{ icon }}"></span>{% endif %} {% autoescape false %}{{ label|trans({}, translation_domain) }}{% endautoescape %}</button>
{% endspaceless %}
{% endblock button_widget %}

{% block ckeditor_widget %}
        <script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('ckeditor/config.js') }}"></script>
        <script type="text/javascript" src="{{ asset('ckeditor/styles.js') }}"></script>
{% spaceless %}
    {% set attr = attr|merge({'class': 'ckeditor'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock ckeditor_widget %}

{% block upload_widget %}
{% spaceless %}
    <div class="btn btn-default btn-file">
        Browse <input {{ block('widget_attributes') }} />
    </div>
{% endspaceless %}
{% endblock upload_widget %}

{% block radio_widget %}
{% spaceless %}
    <label class="btn btn-default{% if checked %} active{% endif %}" {% if value == 'Yes' %}title="Yes, I'm Attending"{% else %}title="No, I'm Not Attending"{% endif %}>
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock radio_widget %}

{% block checkbox_widget %}
{% spaceless %}
    <label class="btn btn-default{% if checked %} active{% endif %}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}