{% extends 'JJWeddingBundle::manage.html.twig' %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-users"></span> New Party</h4>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}

                <div>
                    {{ form_errors(form) }}
                </div>

                <div class="row">
                    <div class="form-group col-sm-9">
                        {{ form_label(form.name, 'Name') }}
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group col-sm-3">
                        {{ form_label(form.brideOrGroom, 'Side') }}
                        {{ form_errors(form.brideOrGroom) }}
                        {{ form_widget(form.brideOrGroom, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-3 col-sm-offset-9">
                        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default form-control'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="panel-footer">
            <a href="{{ path('party') }}" class="btn btn-xs btn-default">
                <span class="fa fa-main-reply"></span> Back
            </a>
        </div>
    </div>
{% endblock main %}
