{% block usHead %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3><span class="fa fa-female"></span><span class="fa fa-male"></span> us</h3>
            </div>
        </div>
    </div>
{% endblock usHead %}

{% block usBody %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% for entity in entities %}
                    {% if entity.location == 'jackie' %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('block_edit', { 'id': entity.id }) }}" class="edit-box">
                                <span class="fa fa-pencil"></span>
                            </a>
                        {% endif %}
                        {{ entity.body|raw }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-6">
                {% for entity in entities %}
                    {% if entity.location == 'jeremy' %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('block_edit', { 'id': entity.id }) }}" class="edit-box">
                                <span class="fa fa-pencil"></span>
                            </a>
                        {% endif %}
                        {{ entity.body|raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {#
                {{ weddingstart|date('m/d/Y') }}<br/>
                {{ weddingstart|date('h:i a') }}<br/>
                {{ weddingstop|date('h:i a') }}<br />
                {{ diff(weddingstop, weddingstart, '%H%M') }}
                #}
                {% for entity in entities %}
                    {% if entity.location == 'how-we-met' %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('block_edit', { 'id': entity.id }) }}" class="edit-box">
                                <span class="fa fa-pencil"></span>
                            </a>
                        {% endif %}
                        {{ entity.body|raw }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-sm-12">
                {% for entity in entities %}
                    {% if entity.location == 'the-proposal' %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('block_edit', { 'id': entity.id }) }}" class="edit-box">
                                <span class="fa fa-pencil"></span>
                            </a>
                        {% endif %}
                        {{ entity.body|raw }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock usBody %}